html, body { width: 100%; height: 100%; } body {margin: 0; padding: 0;}

body {
    display: flex;
    background-color: darkslateblue;

}

.img-background {
    display: flex;
    width: 430px;
    background-image: url(jellyfish.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0
}

.img-credit,
.img-logo {
    display: flex;
    justify-content: center;
}

.img-credit {
    font-size: 12px;
    font-style: italic;
    color: white;
    margin-bottom: 0.4vh;
}

.img-logo {
    font-family: 'ManilaSansBold';
    margin-top: 14vh;
    font-size: 10vh;
    background: -webkit-linear-gradient(#14d2d5, #930bc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:visited {
    color:inherit;
 }

.forms,
.forms-input,
.forms-left,
.forms-right
.forms-top {
    display: flex;
    color: white;
}

 .forms {
    flex: 1;
    flex-direction: column;
}

.forms-top {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 18px;
}

.forms-input {
    flex-direction: row;
    margin-left: 40px;
}

.forms-left {
    margin-right: 60px;
}

.forms-btn {
    width: 160px;
    height: 32px;
    margin-left: 40px;
    margin-top: 18px;
    background-color: olive;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
    margin-bottom: 10px;
    margin-top: 3px;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

label {
    font-size: 12px;
}

/* input:focus {
    border: 1px solid blue;
} */